*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/dialog_editar_perfil_market.xml.txt
/plan_cambios.txt
/fragment_vivero_form_dialog.xml.txt
/fragment_publicacion_form_dialog.xml.txt
